{
  "tabWidth": 2,
  "printWidth": 100,
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports"]
}
